<h1>Pet Monitoring Web Application v1.0 </h1>
<h2>choose one of the following options</h2>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">

<link rel='stylesheet' type='text/css' href='/css/main.css' />

<li>
	<a href='/login'>Log in</a>
	<a href='/logout'>Log out</a>
</li>

