<h1>Sign Up Form</h1>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">

<link rel='stylesheet' type='text/css' href='/css/main.css' />

<form action='/register' method='POST'>
	<input type='text' name='username' placeholder='username'>
	<input type='password' name='password' placeholder='password'>
	<button>Submit</button>
</form>

<li>

	<p>
	<a href='/login'>Log in</a>
	</p>

	<p>
	<a href='/logout'>Log out</a>
	</p>

</li>


	
			