<!DOCTYPE html>
<html>
<style>


</style>

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <title>Pet Monitoring Web App</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">


</head>


<body>
    <h1>This is the secret page</h1>

    <div id="selectRoom">

        <button id="goRoom">Go</button>
    </div>

    <div id="consultingRoom" style="display:none">
        <video id="localVideo" autoplay></video>
        <video id="remoteVideo" autoplay></video>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>

</body>

<li>
    <p>
        <a href='/logout'>logout</a>
    </p>
</li>

</html>